.App {
  font-family: 'Noto Sans JP', sans-serif;
  display: flex;
  flex-flow: column wrap;
  align-items: center;
}

.App-header {
  font-size:2em;
  padding:1em;
  text-align: center;
}

.breakHR {
  width: 80vw;
}

button {
  align-self: center;
}

h1 {
  color: #ddb444;
}

section {
  text-align: center;
}